@import "tailwindcss";
@import "@repo/design-system/styles";
@import "@fontsource-variable/geist";

@layer base {
  :root {
    --font-size-base: 1rem;
    --radius: 0.5rem;
    --font-sans: "Geist Variable", sans-serif;
  }
}

/* Add any app-specific overrides here */
